.tabscontainer{
  height: 160px;
}
.active{
  color: #00ffb8;
  background-color: transparent !important;
  cursor: default !important;
}
.md-whiteframe-3dp{
  width: 96%;
  height: 250px;
  position: relative;
  margin-bottom: 25px;
}
.md-whiteframe-3dp a:hover{
  text-decoration: none;
}
.cover{
  padding: 0;
}
.cover:hover{
  width: 112%;
  height: 270px;
  position: relative;
  margin-bottom: 5px;
  transform: translate(-20px, -10px);
}
.cover:hover .name{
  font-size: 29px;
}
.cover .image{
  height: 83%;
  width: 100%;
}
.cover .name{
  font-size: 21px;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  color: #2fecff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tabs{
  text-align: center;
  margin-bottom: 6%;
  margin-top: 5%;
}
#tabs a{
  color: white;
  text-decoration: none;
}
#tabs a div{
  border-radius: 10px;
  cursor: pointer;
}
#tabs a div h2{
  line-height: 1.0;
  margin: 15px 0;
}
.tabs_hover{
  /*background-color: #00ffb8;*/
  /*border-style: solid;*/
  /*border-width: 5px;*/
  /*border-color:  #00ffb8;*/
  box-shadow:inset 0px 0px 0px 5px #00ffb8;
}
mat-card{
    background: transparent;
}
@media(max-width:767px){
  .apps{
    margin-top: 18%;
  }
}
