.contact-wrapper {
  height: calc(100vh - 68px);
}
.navbar{
  margin-bottom: 0 !important;
}
.contact{
  height: 35%;
  width: 100%;
}
.allcontact{
  background: linear-gradient(#fff,#63e6c2);
  height: 65%;
  @media (max-width: 991px){
    height: auto;
  }
}
.top{
  margin-top: 3%;
}
.heading{
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
  span {
    padding-left: 10px;
  }
}
.allcontact .heading .material-icons{
  margin-right: 2%;
  transform: translateY(2px);
}
hr{
  width: 2px;
  border-width: 140px;
  position: absolute;
  border-color: #dad7d7;
  transform: translateX(-15px);
}
md-content{
  background-color: transparent;
}
md-input-container{
  margin-top: 5px;
}
md-input-container .md-input{
  width: 70%;
}
.mail form{
  padding: 0 5%;
}
i.material-icons{
  margin: 0 !important;
}
.genInfo{
  padding: 0 5%;
  font-size: 1.6em;
  margin-top: 7%;
  @media (max-width: 991px){
    margin-top: 4%;
  }
}
.genInfo .row{
  margin-top: 3%;
}
.genInfo .row .value{
  font-weight: bold;
  padding-left: 0;
}
.genInfo .name{
  padding-right: 0;
  width: 35%;
}
.icons{
  text-align: center;
  i {
    font-size: 2em;
    color: #333;
    width: 15%;
  }
}
.social{
  margin-top: 10%;
  text-align: center;
  font-size: 18px;
  @media (max-width: 991px){
    margin-top: 7%;
  }
}
.social-icons{
  margin-top: 0;
}
.reach-us {
  height: 40vh;
  padding: 7% 5% 2% 5%;
  &:hover .get_directions {
    opacity: 1;
  }
  @media (max-width: 991px){
    margin-left: 0;
    padding-top: 2%;
  }
}
.map-wrapper {
  width: 100%;
  height: 30vh;
  position: relative;
}
#mainMap{
  width: 100%;
  height: 100%;
}
.get_directions{
    background-color: rgba(0,0,0,0.7);
    height: 45px;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1.5%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.get_directions_a{
  color: white !important;
}
mat-form-field{
  display: block !important;
}
.send{
  float: right;
}
.address{
  margin-top: 2%;
  font-size: 1.2em;
}
.address span{
  font-weight: bold;
}
.error{
  margin: 0;
  transform: translateY(-12px);
  color:red;
}
.success{
  margin: 0;
  margin-top: 3%;
  color:green;
}
@media(max-width:991px){
        .send{
          margin-bottom: 10%;
        }
        hr{
          border-width: 70px;
          border-color: white;
          transform: rotate(-90deg);
          top: -69px;
          left: 50%;
        }
        .heading {
          margin-top: 10%;
        }
      }
@media(max-width:550px){
        .genInfo{
            font-size: 1.2em;
        }
}
@media(min-width:992px) and (max-width:1325px) {
  .genInfo{
    font-size: 1.3em;
}
} 
