/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap3/dist/css/bootstrap.min.css';
html{
	background: url(assets/images/background.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: 110% 100%;
	font-family: Arvo, serif;
}
body{
	background-color: transparent;
}
.navbar{
	opacity: 0.5;
	margin-bottom:0 !important;
}
.logo{
	height: 30px;
}
.navbar ul li{
	font-size: 17px;
	padding: 8px 0;
	color: white;
	margin-right: 15px;
}
.navbar ul li:hover{
	color: red;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #00ffb8; 
	padding-bottom: 7px;  
}
.navbar ul li a{
	color: white !important;
}
.navbar ul li a:hover{
	color: white !important;
	font-size: 18px;
}
.footer p{
	color: grey;
}
.footer{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
	left: 1%;
	width: 100%;
}
