
<div class="jumbotron">
  <div class="container intro">
    <h1 class="heading">Looking to make an awesome website ?</h1>
    <div class="row plan_row">
      <div class="col-md-4">
        <img src="assets/images/money.png">
        <h2>Price it</h2>
        <p>Get in touch for an immediate no obligation quote!</p>
      </div>
      <div class="col-md-4">
        <img src="assets/images/plan.png">
        <h2>Plan it</h2>
        <p>We will agree on a deadline and commit to it.</p>
      </div>
      <div class="col-md-4">
        <img src="assets/images/done.png">
        <h2>Make it</h2>
        <p>We will deliver your website on time with the best quality.</p>
      </div>
    </div>
    <div class="row button_row">
      <button class="btn" routerLink='/contact'>Get in touch</button>
    </div> 
  </div>
</div>
